@tailwind base;
@tailwind components;
@tailwind utilities;

.featured-item {
  background-image: url(./assets/home/featured.jpg);
}

.drawer-side a.active {
  color: white;
}

.drawer-side a {
  background-color: transparent;
}
